[user]
# Please adapt and uncomment the following lines:
  name = Scott Hillman
  email = hillmanov@gmail.com
[alias]
    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    a = add
    ap = add -p
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    
    d = diff
    ds = diff --stat
    dc = diff --cached

    st = status
    co = checkout
    cob = checkout -b
    # list branches sorted by last modified
    b = branch

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
[merge]
	tool = nvim
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[mergetool "nvim"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pager]
	branch = false
[init]
	defaultBranch = main
